.streamerSet {
    display: grid;
    grid-template-columns: 1fr 350px;
    padding: 5px;
}
.twitchPlayer {
    /* prefered ratio: 800px 450px */
    width: 100%;
}
body {
    margin: 0;
    background-color: #201C2B;
    color: white;
}
#topBar {
    margin: 0;
    background-color: #4B367C;
    color: white;
    text-align: center;
}
#topBar * {
    margin: 0;
}
h3 {
    background-color: #392860;
    color: rgb(180, 180, 180);
}
#footer {
    background-color: #0d0b11;
    text-align: center;
    padding: 5px 0 5px 0;
}
#footer * {
    display: inline;
}
.wordCatumbra {
    color: rgb(158, 125, 211);
}
@media(min-width: 1180px) {
    .twitchPlayer {
        width: 800px;
    }
    .streamerSet {
        width: 1150px;
        margin: auto;
    }
}
@media(max-width: 810px) {
    .streamerSet {
        display: block;
    }
    .twitchChat {
        display: none;
    }
}