.streamerUnit {
    margin-bottom: 5px;
}

.unitTopBar {
    background: #4a377d;
    padding: 3px 3px 0 3px;
    display: grid;
    grid-template-columns: 150px repeat(2, 24px) 1fr 24px;
    grid-column-gap: 4px;
}
.unitTopBar>input {
    background-color: #695799;
    color: #FEFEFE;
    border: 0;
}
.unitTopBar>.streamerIDBox {
    padding: 1px;
    font-size: 18px;
    text-align: center;
}
.unitTopBar>.buttonLoadUnit {
    width: 18px;
    height: 18px;
    padding: 3px;
}
.unitTopBar>.buttonChat {
    width: 19px;
    height: 19px;
    padding: 2.5px;
}
.unitTopBar>.buttonClose {
    width: 16px;
    height: 16px;
    padding: 4px;
}

.streamerSet {
    display: grid;
    grid-template-columns: 1fr 350px;
}
/* Auto resize .twitchPlayer to 16:9 ratio */
.streamerSet>.outerWrap_resizable {
    width: 100%;
}
.streamerSet>.outerWrap_resizable>.innerWrap {
    position: relative;
    width: 100%;
    height: 0;
    overflow: hidden;
    padding-bottom: 56.26%;
}
.streamerSet>.outerWrap_resizable>.innerWrap>.twitchPlayer {
    /* prefered ratio: 800px 450px */
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
/* Auto adjust height(same as auto resized twitch player height) */
.streamerSet>.twitchChat {
    width: 350px;
    height: 100%;
}