body {
    margin: 0;
    background-color: #201C2B;
    color: white;
    font-family: 'Nanum Gothic', sans-serif;
}

/* header */
header {
    text-align: center;
    color: white;
    margin: 0 0 5px 0;
    border-bottom: #392860 solid 5px;
    padding: 5px;
    background-color: #4B367C;
}
header>* {
    margin: 0;
}

/* Main contents */
#buttonAddHolder>button {
    background-color: #4a377d;
    padding: 5px 0 5px 0;
    border: none;
    width: 100%;
    height: 34px;
    cursor: pointer;
}
#buttonAddHolder>button>img {
    width: 18px;
    height: 18px;
    padding: 3px;
}

/* Footer */
footer {
    margin-top: 5px;
    background-color: #0d0b11;
    text-align: center;
    padding: 8px 0 8px 0;
}
footer>p {
    margin: 5px 0 5px 0;
    color: #d1d1d1;
}

/* General styles */
.wordCatumbra {
    color: #9e7dd3;
    text-decoration: none;
}
.wordBeta {
    color: #d1d1d1;
    font-size: 18px;
    vertical-align: super;
}

/* Wide Screen: middle align */
@media(min-width: 1150px) {
    #mainContents>* {
        width: 1150px;
        margin: auto;
    }
}
/* Narrow Screen: move chat bottom */
/* minimal .twitchPlayer size: width = 550px */
/* @media(max-width: 800px) {
    .streamerSet {
        grid-template-columns: 1fr;
    }
    .streamerSet>.twitchChat {
        width: 100%;
    }
} */