* {
    margin: 0;
}
html {
    height: 100%;
}
body {
    display: flex;
    flex-direction: column;
    height: 100%;
}
body>section {
    flex: 1;
    overflow: auto;
}
body>section>twitch-stream {
    height: 100%;
}
body>footer {
    background: #201c29;
    margin-top: auto;
}